{% extends "layout.html"%}
{% block body %}

<div style='background-color:rgb(56, 121, 145);width:100%;height:35px;z-index: 2;'><a style = 'color: white;font-style: italic;font-size: 14px;font-weight: 100;position: relative;left:10px;top:3px;

    font-family: Cormorant Garamond, serif;

'>Tekirdağ Anadolu Lisesi Bilgisayar Toplulugu İnternet Sayfası</a></div>
<br><a style="font-size:40px;position: absolute;left:100px;margin-top: 10px;

font-family: 'Teko', sans-serif;

">Ayın Hikayesi</a>
<a style="font-size:35px;position: absolute;left:1100px;margin-top: 10px;

font-family: 'Teko', sans-serif;">Yumurta - Andy Weir</a>
<br><br><hr/>

<article style="font-size:20px;padding:50px;


font-family: 'PT Mono', monospace;


">Öldüğünde evine gidiyordun.

Bir araba kazasıydı. Özellikle dikkat edilecek bir şey yok ama ölümcüldü. Arkanda eşini ve iki çocuğunu bıraktın. Acısız bir ölümdü. İlkyardım görevlileri seni kurtarmak için ellerinden geleni yaptılar ama faydasızdı. İnan bana, vücudun tamamen parçalanmıştı.

Ve işte benimle tanıştın.

“Ne… Ne oldu?” diye sordun. “Neredeyim?”

“Öldün” dedim, gerçeği söyleyerek. Yumuşak sözlere gerek yok.

“Kamyon… Patinaj yapan bir kamyon vardı…”

“Öyle” dedim.

“Ben.. Ben öldüm mü?”

“Öyle. Ama o kadar üzülme. Herkes ölür.” dedim.

Etrafa bakındın. Hiçbir şey yoktu. Sadece sen ve ben. “Bu yer de ne?” diye sordun. “Ahiret mi?”

“Fazlası ya da azı.” dedim.

“Sen tanrı mısın?” diye sordun.

“Öyle” diye cevapladım. “Ben Tanrı’yım.”

“Çocuklarım.. Karım,” dedin.

“Ne olmuş onlara?”

“İyi olacaklar mı?”

“İşte görmek istediğim bu,” dedim. “Az önce öldün ve tek derdin ailen. Bulunduğun yerde bu iyi bir şey.”

Bana büyülenmiş bir şekilde baktın. Sana göre, Tanrı gibi görünmüyordum. Tıpkı öylesine bir adam gibiydim. Ya da belki bir kadın. Belirsiz bir otorite figürü belki de. İlkokul öğretmeni gibi güçlü birisi.

“Üzülme,” dedim “İyi olacaklar. Çocukların seni her yönden mükemmel biri olarak hatırlayacaklar. Seni küçümseyecek kadar büyümemişlerdi. Karın dışarıda ağlayacak, ama gizlice rahatlayacak. Adil olmak gerekirse, evliliğin çöküyordu. Teselli istersen, rahatladığı için epey suçluluk duyacak.”

“Oh,” dedin. “Peki şimdi ne olacak? Cennete ya da cehenneme falan mı gideceğim?”

“İkisine de değil,” dedim. “reenkarne olacaksın.”

“Ha,” dedin. “Demek ki Hindular haklıymış.”

“Tüm dinler kendi açılarından haklılar,” dedim. “Benimle birlikte yürü.”

Boşluk boyunca ilerlerken takip ettin. “Nereye gidiyoruz?”

“Aslında hiçbir yere,” dedim. “Sadece konuşurken yürümek güzel oluyor.”

“O zaman anlamı ne?” diye sordun. “Tekrar doğduğumda sadece boş bir levha olacağım öyle değil mi? Bir bebek. Yani bütün tecrübelerimin ve bu hayatta yaptığım hiçbir şeyin önemi kalmayacak.”

“O kadar da değil!” dedim. “Geçmiş hayatlarındaki tecrübe ve bilgilerin tamamen içinde. Sadece şu an onları hatırlamıyorsun.”

Durdum ve seni omzundan tuttum. “Ruhun hayal edebileceğinden çok daha muhteşem, güzel ve büyük. Bir insan zihni yalnızca ufak bir parça sen içerir. Sanki elini sıcaklığını ölçmek için soktuğun bir bardak su gibi. Küçük bir parçanı bir kaba koyuyorsun ve eğer açabilirsen tüm tecrübelerini kazanıyorsun.”

“Son 48 yıldır bir insanın içindeydin, yani daha uçsuz bilincini tam olarak keşfedemedin. Eğer burada çok fazla takılırsak, her şeyi hatırlamaya başlarsın. Tabi bunu her yaşamın arasında yapmanın bir anlamı yok.”

“Daha önce kaç kez reenkarne oldum?”

“Çok kez… Çok çok kez…” dedim. “Şimdi M.S. 540 civarında Çinli bir köylü kız olacaksın.”

“Bekle, ne?” diye kekeledin. “Beni zamanda geriye mi gönderiyorsun?”

“Sanırım teknik olarak evet. Bildiğin zaman yalnızca sizin evreninizde var. Benim geldiğim yerde işler biraz daha farklı.”

“Sen nereden geldin?” dedin.

“Ah, tabi” açıkladım. “Ben bir yerden geldim. Başka bir yerden. Ve orada benim gibi başkaları da var. Orada neler olduğunu merak ettiğini biliyorum. Ama dürüstçe söylemek gerekirse bunu anlayacağını sanmıyorum.”

“Hmm.” dedin ve biraz duraksadın. “Ama bekle. Eğer zamanda başka başka yerlere reenkarne olursam o zaman kendimle karşılaşabilirim.”

“Tabi. Her zaman olur. Ama her iki hayat da sadece kendi ömürlerini fark edebilirler. Ne olduğunu anlamazsın.”

“O zaman bütün bunların anlamı ne?”

“Cidden?” diye sordum. “Cidden mi? Bana hayatın anlamını mı soruyorsun? Bu biraz klişe değil mi sence de?”

“Elbette anlaşılabilir bir soru,” diye inat ettin.

Gözlerine baktım. “Hayatın anlamı ve bütün bu evreni yaratmam senin olgulaşman içindi.”

“İnsanoğlunu mu kastediyorsun? Olgunlaşmamızı mı istedin?”

“Hayır, sadece sen. Bütün bu evreni sadece senin için yaptım. Her yaşamda daha da bilgili, olgun ve büyük bir zeka haline geliyorsun.”

“Sadece ben mi? Peki ya diğer herkes?”

“Başka kimse yok,” dedim. “Bu evrende sadece sen ve ben varız.”

Bana boş boş bakmaya başladın. “Ama dünyadaki bütün o insanlar…”

“Hepsi sensin. Senin farklı vücut bulmuş hallerin.”

“Bekle. Ben herkes miyim!?”

“Şimdi anlıyorsun,” dedim ve sırtına tebrik eder gibi vurdum.

“Yaşamış her insan ben miydim?”

“Ya da yaşamış her şey, evet.”

“Ben Abraham Lincoln müyüm?”

“Ve John Wilkes Booth’sun da,” diye ekledim.

“Hitler ben miyim?” dedin dehşetle.

“Ve onun öldürdüğü milyonlar da sensin.”

“Ben İsa mıyım?”

“Ve onu takip eden herkes.”

Sessizliğe gömüldün.

“Ne zaman birini öldürsen” dedim, “kendini öldürüyordun. Yaptığın her iyiliği kendine yapıyordun. Herhangi bir insan tarafından tadımlanmış her iyilik ya da kötülük, senin tarafından tadımlanmıştı.”

Uzun bir süre düşündün.

“Neden?” diye sordun. “Neden bütün bunları yaptın?”

“Çünkü bir gün, tıpkı benim gibi olacaksın. Çünkü bu sensin. Benim türümdensin. Sen benim çocuğumsun.”

“Vay,” dedin inanmayarak. “Yani bir tanrı mıyım?”

“Hayır, henüz değil. Daha bir ceninsin. Hala büyüyorsun. Tüm zamanlar boyunca varolan tüm insan hayatlarını yaşadığında doğmak için yeteri kadar büyümüş olacaksın.”

“Yani tüm evren” dedin, “sadece…”

“Bir yumurta,” diye cevapladım. “Şimdi diğer hayatına geçmenin zamanı.”

Ve seni yolcu ettim.

</article>


<br><br>
<hr>
<br>
<br>
<div style='width: 100%;background-color:aquamarine;height: 100px;'></div>

{% endblock %}